{% extends 'layouts/main.html' %}
{% block title %}Show Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
<ul class="items">
	{% for show in results.data %}
	<li>
		<a href="/shows/{{ show.venue_id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ show.venue_id }}</h5>
			</div>
		</a>
        <a href="/shows/{{ show.artist_id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ show.artist_id }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>

{#    Todo implement show search frontend #}

{% endblock %}